
.modal-save-file-browser.modal.fade
	.modal-dialog
		.modal-content
			.modal-header.modal-h
				img(src="/images/SVG/modalicon/m2.svg", style="height:40px; display:inline;")
				h4(style="display:inline; vertical-align:middle;")
			.modal-body.modal-b
				input.form-control#file-text(type='text', autofocus,placeholder="untitle.txt",value="")
				//- hr
				//- .list-group#file-list
			.modal-footer.modal-f
				button#btn-cancel(data-dismiss="modal").cancel.btn.btn-danger Cancel
				a#btn-ok.btn.btn-success(style="width:80px" href="javascript:void(0)" download="data.txt" ) OK
